.search-form{
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    background-color: #9e9e9e59; 
}
.search-form-inp{
    border-color: #9e9e9e;
    border-radius: 4px;

    height: 40px;
    width: 300px;
}

.search-form-btn{
    padding: 1 25;
    border-color: #9e9e9e;
    border-radius: 4px;
    height: 40px;
}


.search-form-btn:hover,
.search-form-btn:focus{
    background-color: #808080a1;
    cursor: pointer;
}
// ---------------------------------


